* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-image: linear-gradient(to bottom, #87CEEB, #1E90FF);
  background-repeat: no-repeat;
  padding: 2rem 0;
}

.app-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}
.app-div h1 {
  color: #333; 

}
.searchbar {
  display: flex;
  width: 700px;
  gap: 2rem;
}

.searchbar input {
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  color: #333;
}

.modalIcons {
  transform: translateY(0.2rem);
  font-size: 1.2rem !important;
}

@media screen and (max-width: 700px) {
  .searchbar {
    width: 95%;
  }
}
